body {
    margin: 0;
}

.bottom-center {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#game-board {
    border: 4px solid black;
    border-radius: 5px;
}

#combo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 2 columns */
    gap: 10px; /* Add spacing between cells */
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.combination {
    background-color: #d0d0d0;
    padding: 20px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}