{% extends "base.html" %}

{% block content %}
<div class="game-container">
    <div class="upper-section">
        <div class="game-info">
            <button id="end-turn" class="btn" disabled="true">End Turn</button>
            <div><strong>Players:</strong><div class="player-list" id="player-list"></div></div>
            <div><strong>Remaining Tiles:</strong> <span id="remaining-tiles">104</span></div>
            
        </div>
        
        <div class="combo-section">
            <div id="combo-grid" class="combo-scroll">
                <!-- Combos will be added dynamically -->
            </div>
        </div>
    </div>

    <div class="player-hand-section">
        <div id="player-hand">
            <div class="hand-scroll" id="player-tiles" data-combo="0">
                <!-- Player tiles go here -->
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}