{% extends "base.html" %}

{% block content %}
<div id="game-board">
    <h2>Game Board</h2>
    <div>
        <button id="end-turn" class="btn" onclick="endTurn()">End Turn</button>
    </div>
    <div id="combo-grid">
        <div id="tiles" class="combination"></div>
    </div>
</div>
<div id="player-hand" class="bottom-center">
    <h2>Your Hand</h2>
    <div id="player-tiles" data-combo="0"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}